<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytics Dashboard</title>

    <style>
        *{
            margin:0;
            padding:0;
            box-sizing:border-box;
            font-family:Poppins,sans-serif;
        }

        body{
            background:#111;
            color:#fff;
            padding:30px;
        }

        h1{
            color:#7CFC00;
            margin-bottom:30px;
            text-align:center;
        }

        .cards{
            display:flex;
           
            gap:20px;
            margin-bottom:35px;
        }

        .card{
            background:#1b1b1b;
            flex: 1;
            border:1px solid #7CFC00;
            border-radius:12px;
            padding:25px;
            text-align:center;
        }

        .card h3{
            color:#b8ff73;
            margin-bottom:10px;
            font-size:18px;
        }

        .card p{
            font-size:28px;
            font-weight:bold;
        }

        .reset-btn{
            background:#7CFC00;
            color:#111;
            border:none;
            padding:12px 25px;
            font-size:16px;
            font-weight:bold;
            border-radius:8px;
            cursor:pointer;
            transition:.3s;
            margin-bottom:25px;
        }

        .reset-btn:hover{
            transform:translateY(-2px);
        }

        .table-wrapper{
            overflow-x:auto;
            background:#1b1b1b;
            border-radius:12px;
            border:1px solid #333;
            scrollbar-width: none;
        }

        table{
            width:100%;
            border-collapse:collapse;
            min-width:1200px;
        }

        thead{
            background:#7CFC00;
            color:#111;
        }

        th,td{
            padding:14px;
            text-align:left;
            border-bottom:1px solid #333;
        }

        tbody tr:hover{
            background:#222;
        }

        td{
            color:#ddd;
            font-size:15px;
        }

        @media(max-width:768px){

            body{
                padding:15px;
            }

            h1{
                font-size:26px;
            }

        }
@media (max-width: 480px) {
      th{
          
            font-size:12px;
        }
      td{
            color:#ddd;
            font-size:12px;
        }
        .card h3{
            color:#b8ff73;
            margin-bottom:10px;
            font-size:15px;
        }

        .card p{
            font-size:25px;
            font-weight:bold;
        }
}


    </style>

</head>
<body>

<h1>Analytics Dashboard</h1>

<div class="cards">

    <div class="card">
        <h3>Total Visits</h3>
        <p><%= visitCount %></p>
    </div>

    <div class="card">
        <h3>Resume Clicks</h3>
        <p><%= resumeCount %></p>
    </div>

</div>

<button class="reset-btn">
    Reset Analytics
</button>

<div class="table-wrapper">

<table>

    <thead>

    <tr>

        <th>Browser</th>
        <th>OS</th>
        <th>Device</th>
        <th>Source</th>
        <th>Visited Date</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
        <th>ISP</th>
        <th>Organization</th>

    </tr>

    </thead>

    <tbody>

    <% visitors.forEach(visitor => { %>

        <tr>

            <td><%= visitor.visitorBrowser || "-" %></td>

            <td><%= visitor.visitorOS || "-" %></td>

            <td><%= visitor.visitorDevice || "-" %></td>

            <td><%= visitor.visitorSource || "-" %></td>

            <td>
                <%= 
                visitor.createdAt
                    ? new Date(visitor.createdAt).toLocaleString("en-IN",
                        {
                           timeZone: "Asia/Kolkata",
        day: "numeric",
        month: "long",
        year: "numeric",
        hour: "2-digit",
        minute: "2-digit",
        hour12: true,
                           

                        }
                        )
                    : "-" 
                    %>
            </td>
            <td><%= visitor.visitorCity || "-" %></td>

            <td><%= visitor.visitorRegion || "-" %></td>

            <td><%= visitor.visitorCountry || "-" %></td>

            <td><%= visitor.visitorISP || "-" %></td>

            <td><%= visitor.visitorORG || "-" %></td>


        </tr>

    <% }) %>

    </tbody>

</table>

</div>

</body>
</html>